-i https://pypi.python.org/simple/
certifi==2020.4.5.1
chardet==3.0.4
django-redis==4.10.0
django==2.2.13
ecdsa==0.15
idna==2.8
opentok==2.10.0
pyasn1==0.4.8
python-jose==3.1.0
pytz==2018.3
redis==3.5.3
requests==2.21.0
rsa==4.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.24.1
